<f:layout name="backend" />
<f:section name="content">
	<f:flashMessages />
	<h2><f:translate key="backend.pms.list.headline" /></h2>
	<f:variable name="headline_eur" value="{f:translate(key: 'list.headline.eur')}" />
	<f:variable name="headline_usd" value="{f:translate(key: 'list.headline.usd')}" />
	<f:render partial="PmBackend/Table" arguments="{headline: headline_eur, pms: pms_eur}" />
	<hr />
	<f:render partial="PmBackend/Table" arguments="{headline: headline_usd, pms: pms_usd}" />
</f:section>
